html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #f2f2f2;
}
.general {
    background: url(./img/header.jpg) no-repeat 50% 50%;
}
h1 {
    font-size: 60px;
}
p {
    color: #737373;
}
.logo {
    width: 200px;
    margin-top: 30px;
    margin-left: 20px;
}
.banner {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text {
    padding: 60px 68px 40px;
    border: 1px solid black;
    background-color: rgba(0,0,0,.75);
    max-width: 310px;
    min-height: 498px;
    margin-bottom: 90px;
}
.banner h1 {
    margin: 0;
    opacity: 1;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;

}
.input {
    background-color: #333333;
    color: #8c8c8c;
    border-radius: 4px;
    border: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    margin-bottom: 16px;
    width: 87%;
    font-size: 16px;
}
.btn-id {
    color: white;
    background-color: #e50914;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
    line-height: normal;
    border: none;
    width: 100%;
    margin: 24px 0 12px;
    padding: 16px;
}
.btn-id {
    cursor: pointer;
}
.checkbox {
    float: left;
}
.p-checkbox, .help {
    margin-top: 0;
    font-size: 13px;
    font-weight: 500;
    padding-top: 2px;
    color: #b3b3b3;
}
.help {
    float: right;
    text-decoration: none;
}
.help:hover {
    text-decoration: underline;
}
.fb {
    display: flex;
    margin-top: 25px;
    margin-left: 4px;
}
.fb {
    cursor: pointer;
}
.logo_fb {
    height: 20px;
    width: 20px;
}
.fb p {
    margin-top: 3px;
    font-size: 13px;
    font-weight: 500;
}
.visite {
    margin-top: 0;
}
.inscription {
    text-decoration: none;
    color: white;
}
.inscription:hover {
    text-decoration: underline;
}
.inscription a:visited {
    color: white;
}
.recaptcha {
    font-size: 13px;
    text-align: left;
    margin-bottom: 0;
}
#captcha {
    visibility:hidden;
    font-size: 13px;
}
#captcha a {
    text-decoration: none !important;
}
#captcha a:visited {
    color: #0080ff !important;
}
#info {
    color: #0080ff !important;
    margin-top: 0;
    font-size: 13px;
}
#info:hover {
    text-decoration: underline;
    cursor: pointer;
}
.footer-top {
    margin-top: 0;
    padding-left: 40px;
}
.p-footer {
    background-color: rgba(0,0,0,.75);
    color: #757575;
    margin: 0 auto;
    padding: 30px 0;
}
li {
    list-style: none;
    float: left;
    font-size: 16px;
    text-decoration: none;
    color: #757575;
    font-size: 13px;
}
li:hover {
    text-decoration: underline;
}
li a {
    text-decoration: none;
}
li a:visited {
    color:#757575;
}
.footer-link-item {
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    width: 25%;
    padding-right: 12px;
    vertical-align: top;
}
.langue {
    margin-top: 30px;
}
.lang-selection-container {
    margin-top: 90px;
    margin-left: -155px;
}
.footer-country {
    font-size: 13px;
    margin-top: 24px;
    color: #757575;
}
select {
    background-color: black;
    color: #757575;
    padding: 15px;
}
