html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white ;
    background-color: black;
}

/* ******************* HEADER **************** */
header {
    text-align: center;
    height: 100vh;
    background: url(./img/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.barre {
    margin: 0 3.5rem;
}
.logo {
    float: left;
    width: 200px;
    margin-top: 30px;
}
.btn-id {
    float: right;
    padding: 0;
    color: white;
    background-color: #e50914;
    padding: 7px 17px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    line-height: normal;
}
.abonnement h2 {
    font-size: 3.725rem;
    margin: 0;
}
.abonnement h3 {
    font-size: 2.225rem;
}
.abonnement h4 {
    font-size: 1.2rem;
}
.input_email {
    padding: 14px 30px;
    font-weight: 400;
    font-size: 1.5rem;
    width: 400px;
    margin-right: -5px;
}
.btn-begin {
    color: white;
    background-color: #e50914;
    padding: 15px 30px;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 5px;
    line-height: normal;
}