html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white ;
    background-color: black;
}

.ligne {
  height: 8px;
  background-color: #222222;
  margin: 0 auto;
  width: 100%;
}
h2, h3, h4, h5 {
    margin: .75em 0 .25em;
}
li {
    list-style: none;
    float: left;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #757575;
}
/* ******************* HEADER **************** */
header {
    text-align: center;
    height: 100vh;
    background: url(./img/header.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-right: 65px !important;
}
.barre {
    margin: 0 3.5rem;
}
.logo {
    float: left;
    width: 200px;
    margin-top: 30px;
    margin-left: 20px;
}
.btn-id {
    margin-top: 30px;
    float: right;
    color: white;
    background-color: #e50914;
    padding: 7px 17px;
    margin-top: 30px;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    line-height: normal;
    border: none;
}
.big {
    font-size: 3.525rem !important;
}
.abonnement h1 {
    font-size: 3.525rem;
    margin: 0;
    max-width: 700px;
    margin: 0 auto;
}
.abonnement h2 {
    font-size: 1.425rem;
    font-weight: lighter;
}
.abonnement h3 {
    font-size: 1.2rem;
    font-weight: lighter;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.input_email {
    padding: 15px 30px;
    font-weight: 400;
    font-size: 1.5rem;
    width: 400px;
    margin-right: -5px;
    border: none;
}
.btn-begin {
    color: white;
    background-color: #e50914;
    padding: 15px 30px;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 5px;
    line-height: normal;
    border: none;
    border-radius: 0;
    margin-top: 10px;
}
/* ******************* REGARDER **************** */
.contenu-regarder {
    padding: 70px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texte {
    width: 52%;
    height: 100%;
    flex: 0 1 auto;
    padding: 30px 3rem 0 0;
    max-width: 550px;
}
.texte h1 {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
    margin: 0 0 .4em;
}
.texte h2 {
    font-size: 1.625rem;
    font-weight: 400;
 }
.img-bande {
    width: 500px;
}

.mobile {
    margin-right: 100px;
}

/* ******************* REGARDER **************** */
.faq h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.ask {
    padding: .8em 1.2em .8em 1.2em;
    margin: 0 auto;
    margin-top: 7px;
    font-weight: 400;
    position: relative;
    width: 55%;
    border: 0;
    display: block;
    text-align: left;
    background: #303030;
    color: white;
    font-size: 27px ;
}
.ask:hover {
    cursor: pointer;
}
.answer {
    width: 55%;
    border: 0;
    display: block;
    text-align: left;
    background: #303030;
    color: white;
    font-size: 27px ;
    padding: .8em 1.2em .8em 1.2em;
    margin: 0 auto;
    margin-top: 2px;
    font-weight: 400;
    position: relative;
}
.faq h3 {
    max-width: 800px;
    padding-bottom: 20px;
    font-size: 1.2rem;
    margin-top: 55px;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-top {
    color: #757575;
}
.footer-link {
    padding: 50px 225px;
}
.footer-link-item {
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    width: 25%;
    padding-right: 12px;
    vertical-align: top;
}
.lang-selection-container {
    margin-top: 90px;
    margin-left: -155px;
}
.footer-country {
    font-size: 13px;
    margin-top: 24px;
    color: #757575;
}
select {
    background-color: black;
    color: #757575;
    padding: 15px;
}

/* *********************** MEDIA QUERIES ********************** */
@media screen and (max-width: 950px) {
    .contenu-regarder {
        display: block;
        margin: 0 auto;
    }
    .texte {
        max-width: none;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .tele {
        text-align: center;
    }
    .mobile {
        margin-right: 0;
    }
    h1, h2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .faq h3 {
        margin: 30px 20px 10px 20px;
    }
    h1 {
        font-size: 2.5rem !important;
    }
    h2{
        font-size: 1.3rem !important;
    }
    h3 {
        font-size: 1rem !important;
    }
    .contenu-regarder {
        padding: 40px 45px;
    }
}
@media screen and (max-width: 900px) {
    .ask {
        font-size: 20px;
    }
    form {
        text-align: center;
    }
    .footer-link {
        padding: 36px 100px;
    }
}
@media screen and (max-width: 660px) {
    .ask {
        font-size: 15px;
    }
    h1 {
        font-size: 2rem !important;
    }
    h2 {
        font-size: 1rem !important;
    }
    h3 {
        font-size: 0.7rem !important;
    }
    .img-bande {
        width: 430px;
    }
    .logo {
        width: 120px;
    }
    .footer-link {
        padding: 36px 30px;
    }
    .input_email {
        width: 300px;
    }
}
@media screen and (max-width: 550px) {
    .container {
        padding-right: 0 !important;
    }
}
@media screen and (max-width: 500px) {
    .abonnement h2, .abonnement h3 {
        font-weight: bold;
    }
    .ask {
        font-size: 13px;
        width: 90%;
    }
    .answer {
        width: 90%;
        padding: 16px;
        font-size: 15px;
    }
    .btn-begin {
        padding: 4px 6px;
    }
    .input_email {
        padding: 10px 10px;
        width: 300px;
        margin: 10px;
        font-size: 12px;
    }
    h1 {
        font-size: 1.7rem !important;
    }
    .img-bande {
        width: 350px;
    }
    .contenu-regarder {
        padding: 20px 45px;
    }
}
@media screen and (max-width: 450px) {
    .img-bande {
        width: 300px;
    }
}
