/* ******************GENERAL****************** */
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    color: white ;
    background-color: #161618;
}

/* ******************HEADER****************** */
header {
    position: fixed;
    top: 0;
    height: 6.25rem !important;
    align-items: center;
    background: #161618;
    border-bottom: 1px solid #414143;
    display: flex;
    flex-direction: row;
    height: 3.75rem;
    justify-content: space-between;
    padding: 0 .9375rem;
    width: 100%;
    z-index: 100;

    transition: top 0.3s;
    transition-delay: 0.2s;
}
header.hidden {
    top: -100px;
}
.left, .right {
    display: flex;
}
.left {
    margin-top: 20px;
}
.left:hover {
    margin-top: 25px;
    border-bottom: #e21a41 5px solid;
}
.cia {
    max-height: 2.8125rem;
    max-width: 7.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 7px;
    line-height: 1rem;
}
.logo-cia {
    width: 60px;
    height: auto;
    margin-right: .9375rem;
}
.right {
    margin-right: 30px;
}
.careers, .discover, .explore {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: .8125rem .9375rem;
    line-height: .875rem;
    text-decoration: none;
    text-transform: uppercase;
    border: .0625rem solid #e21a41;
}
.careers:hover, .discover:hover {
    color: #e21a41;
    margin-top: 20px;
    padding-bottom: calc(.875rem - 5px);
    border-bottom: #e21a41 5px solid;
}
.fa-bars {
    font-size: 30px;
    margin: 0 .9375rem 0 1.875rem;
    margin-top: 27px;
    margin-left: 5px;
}
.fa-bars:hover::before {
    border: #e21a41 1px solid;
    border-bottom: #e21a41 5px solid;
    margin-left: -5px;
    margin-right: -3px;
    padding: 2px 2px 0 4px;
}

/* ******************HERO****************** */
.h1 {
    padding-top: 9rem !important;
    font-size: 5rem;
    font-weight: bold;
    line-height: .9em;
    margin-bottom: 0;
}
.mb30 {
    padding: 5px;
}
.ccc {
    border-left: #e21a41 1px solid;
}
.mb30 h5 {
    font-size: 25px;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mb30 p {
    margin-top: 10px;
}
.container {
    padding: 0 10%;
    display: flex;
}
.homepage-image {
    border-left: 1px solid rgb(165, 160, 160);
    border-right: 1px solid rgb(165, 160, 160);
}
.hero {
    margin-top: 200px;
    width: 500px;
    height: auto;
}
.call {
    display: flex;
    margin-left: 5px;
}
.calling {
    align-items: center;
    background: #e21a41;
    border: .0625rem solid #e21a41;
    box-sizing: border-box;
    display: inline-flex;
    height: 3.75rem;
    justify-content: center;
    line-height: 1rem;
    overflow: hidden;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: auto;
    transition: padding .5s ease-in-out;
}
.calling:hover {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.hide {
    position: absolute;
    z-index: -2;
    margin-left: 241px;
    align-items: center;
    background: #000;
    border: .0625rem solid #e21a41;
    box-sizing: border-box;
    display: inline-flex;
    height: 3.75rem;
    justify-content: center;
    line-height: 1rem;
    overflow: hidden;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    font-size: 1.5rem;
    text-align: center;
    width: auto;
    /* display: none; */
    transition: padding .5s ease-in-out;
}

/* ******************AGENCE****************** */
.agence {
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    height: 75vh;
}
.agence-left, .agence-right {
    margin: 0 auto;
}
.agence-left {
    width: 50%;
    align-items:flex-start;
    justify-content: center;
    padding-left: 70px;
    padding-top: 110px;
}
.boussole {
    width: 100px;
    height: auto;
}
.agence-left h2 {
    padding-top: 0;
    font-size: 2.5rem;
    line-height: 42px;
    padding-right: 20px;
}
.agence-right {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-left: #000 1px solid;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 50px;
}
.agence-right h5 {
    font-size: 1.5rem;
    line-height: 24px;
}
.agence-right p {
    font-size: 16px;
    line-height: 24px;
}
.agence-right a, .globe-left a {
    font-weight: bold;
    text-decoration: none;
    border-bottom: #e21a41 1px solid;
    transition-delay: color 1s;
    transition: background-color 1s;
}
.agence-right a:hover, .globe-left a:hover {
    color: #fff !important;
    background: #e21a41;
}
.agence-right a:visited, .globe-left a:visited {
    color: #000;
}
/* ******************DRAPEAU****************** */
.drapeau {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.drapeau-left, .drapeau-right {
    margin: 0 auto;
}
.img-drapeau {
    width: 450px;
    height: auto;
}
.drapeau-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drapeau-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #fff;
}
.drap {
    max-width: 65%;
}
.drap h2 {
    margin-bottom: 3.975rem;
    font-size: 3.2rem;
    line-height: 42px;
    font-weight: bold;
}
.drap h5 {
    font-size: 1.525rem;
    line-height: 24px;
    margin-bottom: 1.875rem;
}
.drap p {
    font-size: 1.325rem;
    line-height: 24px;
    margin-bottom: 1.875rem;
}
.discover {
    transition: color .5s;
    transition: border .5s;
}
.discover:hover {
    color: #e21a41 !important;
}

.discover:visited {
    color: #fff;
}
/* ******************STORIES****************** */
.stories {
    background: #fff;
    color: #000;
    height: 150vh;
}
.histoires {
    width: calc(100% - 30px);
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.text-storie h2 {
    margin-top: 0;
    margin-left: 103px;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    line-height: 42px;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
}
.card {
    min-height: 572px;
    border: 1px solid #000;
    margin-right: 15px;
    margin-left: 15px;
    transition: border .5s;
}
.card:hover {
    border: #e21a41 2px solid;
}
.card h3 {
    max-width: 270px;
    padding: 1.875rem 1.875rem 2.8125rem;
    font-size: 1.875rem;
    line-height: 32px;
    margin-top: 0;
}
.dog {
    margin-bottom: 95px;
}
.footer-card {
    display: flex;
    border-top: 1px solid #000;
}
.footer-card h5 {
    margin: 0;
    justify-content: flex-end;
    border-right: .0625rem solid #000;
    width: 80%;
    padding: 1.375rem 1rem 1.375rem 7.4375rem;
    font-size: 1.525rem;
    font-weight: bold;
}
.footer-card p {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}
.explore {
    transition: color .5s;
    transition: border .5s;
    margin-left: 105px;
}
.explore:hover {
    color: #e21a41 !important;
    border-bottom: #e21a41 5px solid;
}
.explore:visited {
    color: #000;
}
/* ******************GLOBE****************** */
.globe {
    display: flex;
    justify-content: center;
    height: 82vh;
}
.globe-left, .globe-right {
    margin: 0 auto;
}
.globe-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.globe-text {
    max-width: 60%;
    display: block;
    justify-content: center;
    align-items: center;
}
.globe-left h2 {
    font-size: 2.5rem;
}
.globe-left p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 80px;
}
.globe-left a {
    color: #fff !important;
    font-weight: bold;
}
.globe-right {
    width: 50%;
    align-items:flex-start;
    justify-content: center;
    border-left: 1px solid #fff;
}
.globe-ter {
    width: 670px;
    height: auto;
}